@font-face {
	font-family: 'BiofolioUltimate';
	src: url('../asset/fonts/BiofolioUltimate-Black.woff2') format('woff2'),
		url('../asset/fonts/BiofolioUltimate-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'BiofolioUltimate';
	src: url('../asset/fonts/BiofolioUltimate-ExtraBold.woff2') format('woff2'),
		url('../asset/fonts/BiofolioUltimate-ExtraBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'BiofolioUltimate';
	src: url('../asset/fonts/BiofolioUltimate-Bold.woff2') format('woff2'),
		url('../asset/fonts/BiofolioUltimate-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'BiofolioUltimate';
	src: url('../asset/fonts/BiofolioUltimate-BlackItalic.woff2') format('woff2'),
		url('../asset/fonts/BiofolioUltimate-BlackItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'BiofolioUltimate';
	src: url('../asset/fonts/BiofolioUltimate-BoldItalic.woff2') format('woff2'),
		url('../asset/fonts/BiofolioUltimate-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'BiofolioUltimate-BookItalic';
	src: url('../asset/fonts/BiofolioUltimate-BookItalic.woff2') format('woff2'),
		url('../asset/fonts/BiofolioUltimate-BookItalic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'BiofolioUltimate-Book';
	src: url('../asset/fonts/BiofolioUltimate-Book.woff2') format('woff2'),
		url('../asset/fonts/BiofolioUltimate-Book.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'BiofolioUltimate';
	src: url('../asset/fonts/BiofolioUltimate-ExtraBoldItalic.woff2') format('woff2'),
		url('../asset/fonts/BiofolioUltimate-ExtraBoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'BiofolioUltimate';
	src: url('../asset/fonts/BiofolioUltimate-Light.woff2') format('woff2'),
		url('../asset/fonts/BiofolioUltimate-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'BiofolioUltimate';
	src: url('../asset/fonts/BiofolioUltimate-Heavy.woff2') format('woff2'),
		url('../asset/fonts/BiofolioUltimate-Heavy.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'BiofolioUltimate';
	src: url('../asset/fonts/BiofolioUltimate-ExtraLight.woff2') format('woff2'),
		url('../asset/fonts/BiofolioUltimate-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'BiofolioUltimate';
	src: url('../asset/fonts/BiofolioUltimate-ExtraLightItalic.woff2') format('woff2'),
		url('../asset/fonts/BiofolioUltimate-ExtraLightItalic.woff') format('woff');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'BiofolioUltimate';
	src: url('../asset/fonts/BiofolioUltimate-LightItalic.woff2') format('woff2'),
		url('../asset/fonts/BiofolioUltimate-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'BiofolioUltimate';
	src: url('../asset/fonts/BiofolioUltimate-HeavyItalic.woff2') format('woff2'),
		url('../asset/fonts/BiofolioUltimate-HeavyItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'BiofolioUltimate-RegularItalic';
	src: url('../asset/fonts/BiofolioUltimate-RegularItalic.woff2') format('woff2'),
		url('../asset/fonts/BiofolioUltimate-RegularItalic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'BiofolioUltimate';
	src: url('../asset/fonts/BiofolioUltimate-SemiBoldItalic.woff2') format('woff2'),
		url('../asset/fonts/BiofolioUltimate-SemiBoldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'BiofolioUltimate';
	src: url('../asset/fonts/BiofolioUltimate-Medium.woff2') format('woff2'),
		url('../asset/fonts/BiofolioUltimate-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'BiofolioUltimate';
	src: url('../asset/fonts/BiofolioUltimate-SemiBold.woff2') format('woff2'),
		url('../asset/fonts/BiofolioUltimate-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'BiofolioUltimate';
	src: url('../asset/fonts/BiofolioUltimate-Regular.woff2') format('woff2'),
		url('../asset/fonts/BiofolioUltimate-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'BiofolioUltimate';
	src: url('../asset/fonts/BiofolioUltimate-MediumItalic.woff2') format('woff2'),
		url('../asset/fonts/BiofolioUltimate-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}