html {
	font-size: 16px;
	scroll-behavior: smooth;
}

body {
	line-height: 1;
	font-family: $font;
	color: $text-color;
}

.wrapper {
	max-width: 1440px;
	margin: 0 auto;
}

.container {
	max-width: 1260px;
	margin: 0 auto;
	padding: 0 15px;
}

button {
	font-family: $font;
}

.visible {
	visibility: visible;
	opacity: 1;
}

.hidden {
	visibility: hidden;
	opacity: 0;
}

.loading-container,
.main {
	transition: visibility 0.7s ease-out, opacity 0.7s ease-out;
}