.navbar {
	position: fixed;
	width: 100%;
	padding: 1.875em 0;
	z-index: 10;
	transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in;

	&-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&-list {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&-auth {
		&>.sign-in {
			background: none;
			border: 0.1667em solid $primary-color;
			border-radius: 20px;
			color: $primary-color;
			font-weight: 700;
			font-size: 18px;
			padding: 15px 20px;
		}
	}
}

.menu {
	margin-right: 48px;
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0 48px;

	&-button {
		cursor: pointer;
		background: none;
		border: none;
		font-size: 18px;
		font-weight: 700;
		color: $text-color;
	}
}