$font: "BiofolioUltimate";
$text-color: #FFFFFF;
$text-color-hovering: rgba(255, 255, 255, 0.2);
$grey-color: #777777;
$primary-color: #FFC122;
$primary-color-hovering: rgba(255, 193, 34, 0.2);
$black-color: #000000;