html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

@font-face {
  font-family: "BiofolioUltimate";
  src: url("../fonts/BiofolioUltimate-Black.woff2") format("woff2"), url("../fonts/BiofolioUltimate-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BiofolioUltimate";
  src: url("../fonts/BiofolioUltimate-ExtraBold.woff2") format("woff2"), url("../fonts/BiofolioUltimate-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BiofolioUltimate";
  src: url("../fonts/BiofolioUltimate-Bold.woff2") format("woff2"), url("../fonts/BiofolioUltimate-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BiofolioUltimate";
  src: url("../fonts/BiofolioUltimate-BlackItalic.woff2") format("woff2"), url("../fonts/BiofolioUltimate-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "BiofolioUltimate";
  src: url("../fonts/BiofolioUltimate-BoldItalic.woff2") format("woff2"), url("../fonts/BiofolioUltimate-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "BiofolioUltimate-BookItalic";
  src: url("../fonts/BiofolioUltimate-BookItalic.woff2") format("woff2"), url("../fonts/BiofolioUltimate-BookItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "BiofolioUltimate-Book";
  src: url("../fonts/BiofolioUltimate-Book.woff2") format("woff2"), url("../fonts/BiofolioUltimate-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BiofolioUltimate";
  src: url("../fonts/BiofolioUltimate-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/BiofolioUltimate-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "BiofolioUltimate";
  src: url("../fonts/BiofolioUltimate-Light.woff2") format("woff2"), url("../fonts/BiofolioUltimate-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BiofolioUltimate";
  src: url("../fonts/BiofolioUltimate-Heavy.woff2") format("woff2"), url("../fonts/BiofolioUltimate-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BiofolioUltimate";
  src: url("../fonts/BiofolioUltimate-ExtraLight.woff2") format("woff2"), url("../fonts/BiofolioUltimate-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BiofolioUltimate";
  src: url("../fonts/BiofolioUltimate-ExtraLightItalic.woff2") format("woff2"), url("../fonts/BiofolioUltimate-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "BiofolioUltimate";
  src: url("../fonts/BiofolioUltimate-LightItalic.woff2") format("woff2"), url("../fonts/BiofolioUltimate-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "BiofolioUltimate";
  src: url("../fonts/BiofolioUltimate-HeavyItalic.woff2") format("woff2"), url("../fonts/BiofolioUltimate-HeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "BiofolioUltimate-RegularItalic";
  src: url("../fonts/BiofolioUltimate-RegularItalic.woff2") format("woff2"), url("../fonts/BiofolioUltimate-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "BiofolioUltimate";
  src: url("../fonts/BiofolioUltimate-SemiBoldItalic.woff2") format("woff2"), url("../fonts/BiofolioUltimate-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "BiofolioUltimate";
  src: url("../fonts/BiofolioUltimate-Medium.woff2") format("woff2"), url("../fonts/BiofolioUltimate-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BiofolioUltimate";
  src: url("../fonts/BiofolioUltimate-SemiBold.woff2") format("woff2"), url("../fonts/BiofolioUltimate-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BiofolioUltimate";
  src: url("../fonts/BiofolioUltimate-Regular.woff2") format("woff2"), url("../fonts/BiofolioUltimate-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BiofolioUltimate";
  src: url("../fonts/BiofolioUltimate-MediumItalic.woff2") format("woff2"), url("../fonts/BiofolioUltimate-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
body {
  line-height: 1;
  font-family: "BiofolioUltimate";
  font-size: 16px;
  color: #FFFFFF;
  background: #777777;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 15px;
}

button {
  font-family: "BiofolioUltimate";
}

.navbar {
  margin-top: 60px;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-auth > .sign-in {
  background: none;
  border: 3px solid #FFC122;
  border-radius: 20px;
  color: #FFC122;
  font-weight: 700;
  font-size: 20px;
  padding: 15px 20px;
}

.menu {
  margin-right: 48px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 48px;
}
.menu-button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
}

.hero-background {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -10;
}
.hero-background img {
  object-fit: cover;
}
.hero-background-overlay {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  width: 100%;
  height: 50%;
}
.hero-footer {
  position: absolute;
  left: 0;
  bottom: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-footer-button {
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-footer-button p {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 1.25;
}
.hero-content {
  height: 690px;
  display: flex;
  align-items: center;
}
.hero-content .heading {
  line-height: 1.281;
  font-weight: bold;
  font-style: normal;
  font-size: 60px;
  color: #FFC122;
  width: 690px;
}
.hero-content .description {
  margin-top: 10px;
  line-height: 1.25;
  font-weight: 500;
  font-size: 24px;
  width: 690px;
}

/*# sourceMappingURL=index.css.map */
